@import url('https://fonts.googleapis.com/css?family=Codystar:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');
@import url('https://fonts.googleapis.com/css?family=Raleway:100i');

p {
  margin: 0;
}

.hello {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.my-name {
  display: none;
  font-family: 'Raleway';
  font-size: 72px;
  font-weight: 100;
  font-style: italic;
}

@keyframes text-blink {
  0%, 34%, 68%, 78% {
    font-weight: 400;
  }
  33%, 67%, 77%, 87% {
    font-weight: 300;
  }
}

.my-profession {
  font-family: 'Codystar';
  font-weight: 300;
  font-size: 72px;
  letter-spacing: 5px;
}

.my-profession span {
  animation: text-blink 6s infinite;
}
